body {
  background-color: #444;
  height: auto;
  width: auto;
}

.top-bar {
  position: fixed;
  height: 30px;
  width: 98%;
  background-color: #666;
  top: 1;
  overflow: hidden;
  padding: 3px;
  font-family: "Roboto", sans-serif;
}

.nav:hover {
  background-color: #777;
  border-bottom: 3px solid #f0d000;
}

.nav {
  float: right;
  align-text: center;
  display: block;
  padding: 5px;
}

.current-page {
  border-bottom: 3px solid #f0d000;
}

.link {
  text-decoration: none;
  color: #e0e0e0;
}

#name {
  font-size: 25px;
  float: left;
  font-weight: 100;
}
