body:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url("images/Seattle Portrait.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-color: #50b6cf;
  overflow-x: hidden;
}

#top-bar {
  position: fixed;
  height: auto;
  width: 99%;
  background-color: rgba(112, 112, 112, 0.8);
  top: 0;
  left: 0;
  overflow: hidden;
  padding: 8px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  z-index: 2;
}

.nav:hover {
  background-color: #888;
  border-bottom: 3px solid #50b6cf;
}

.nav {
  float: right;
  align-text: center;
  display: inline-block;
  padding: 5px;
}

.current-page {
  border-bottom: 3px solid #50b6cf;
}

.link {
  text-decoration: none;
  color: #e0e0e0;
}

#logo {
  height: 30px;
  width: auto;
  float: left;
  margin-right: 5px;
  margin-left: 5px;
}

#name {
  font-size: 25px;
  float: left;
  font-weight: 100;
}

.fa {
  color: #e0e0e0;
}

a.hamburger {
  display: none;
  margin: 0px 10px;
}

@media screen and (max-width: 875px) {
  #top-bar a:not(:first-child) {display: none;}
  #top-bar a.hamburger {
    float: right;
    display: block;
  }
  #name {
    display: block;
  }
  div.foreground div.imagecontainer div.img{
    display: block;
    margin: auto;
    width: 90%;
  }
  div.foreground div.imagecontainer div.blurb {
    display: block;
    float: none;
    margin: auto;
    margin-bottom: 1em;
    width: 80%;
  } 
  
  div.foreground {
    left: -1vw; 
  }
}

@media screen and (max-width: 875px) {
  #top-bar.responsive {position: relative;}

  #top-bar.responsive a {
    float: none;
    display: block;
    text-align: left;
  }

  #top-bar.responsive #name {
    float: none;
  }
  
  #top-bar.responsive a.hamburger {
    float: right;
    position: relative;
    top: -1.8em;
  }
}

h2.home {
  position: relative;
  color: #fff;
  font-size: 400%;
  margin: auto;
  font-family: "Roboto", sans-serif;
  top: 30vh;
  text-align: center;
}

p.home {
  position: relative;
  color: #fff;
  font-size: 200%;
  margin: auto;
  font-family: "Roboto", sans-serif;
  top: 30vh;
  text-align: center;
}

div.foreground {
  position: relative;
  top: 35vh;
  display: block;
  height: auto;
  width: 90%;
  background-color: rgba(80, 182, 207, 0.7);
  margin: auto;
  padding: 1em 2em 1em 2em;
  justify-content: center;
  border-radius: 1em;
}

div.imagecontainer {
  display: block;
  height: auto;
  width: 100%;
}

div.img {
  display: inline-block;
  width: 35%;
  min-width: 250px;
  height: auto;
  margin: 1em;
}

.image {
  height: 100%;
  width: 100%;
  border: 1vw solid #e0e0e0;
}

div.blurb {
  display: inline-block;
  height: 100%;
  width: 45vw;
  float: right;
  padding: 1em;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: -1vw 1vw #e0e0e0;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
  color: white;
  margin: 1em;
}

/*div.body p.aboutme, h2.aboutme {
  font-family: "Roboto", sans-serif;
  color: #e0e0e0;
  padding: 1% 5%;
}

div.body p, h1, h3 {
  position: relative;
  top: 50px;
  left: 20px;
  font-family: "Roboto", sans-serif;
}*/

div.body.aboutme {
  position: relative;
  display: grid;
  justify-content: center;
  top: 40px;
  padding: 10px;
  grid-template-columns: 30% 70%;
  grid-template-rows: 5% auto;
  grid-gap: 10px;
}

div.body h2.aboutme {
  position: relative;
  left: 17px;
  color: #e0e0e0;
}

.portrait.aboutme {
  height: 250px;
  width: auto;
  position: relative;
  margin: 18px;
  top: 2px;
  grid-row: 1 / 3;
  grid-column: 2;
}

div.body p.aboutme {
  color: #e0e0e0
}

#resume {
  position: relative;
  top: 35vh;
  height: auto;
  width: 90%;
  display: block;
  margin: auto;
}

.game-title {
 font-family: "Roboto", sans-serif;
 color: #ddd;
 display: flex;
 justify-content: center;
 margin: 30px auto;
}

canvas {
 background-color: #eee;
 display: block;
 margin: 0 auto;
}
