 body {
  background-color: #444;
  height: auto;
  width: auto;
  overflow-x: hidden;
}

.top-bar {
  position: fixed;
  height: 30px;
  width: 98%;
  background-color: #666;
  top: 0;
  overflow: hidden;
  padding: 3px;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  z-index: 2;
  border: 5px solid #444;
}

.nav:hover {
  background-color: #777;
  border-bottom: 3px solid #f0d000;
}

.nav {
  float: right;
  align-text: center;
  display: block;
  padding: 5px;
}

.current-page {
  border-bottom: 3px solid #f0d000;
}

.link {
  text-decoration: none;
  color: #e0e0e0;
}

#logo {
  height: 30px;
  width: auto;
  float: left;
  margin-right: 5px;
  margin-left: 5px;
}

#name {
  font-size: 25px;
  float: left;
  font-weight: 100;
}

div.body {
  height: 1000px;
  width: auto;
}

div.body.home {
  position: relative;
  top: 42px;
  display: grid;
  grid-template-columns: 400px repeat(1, 1fr);
  gap: 40px;
  grid-auto-rows: minmax(100px, auto);
}

p.body.home, h2.body.home {
  position: relative;
  top: 25px;
  margin: auto;
  padding: 5%;
  color: #e0e0e0;
  font-family: "Roboto";
  text-align: center;
}

h2.body.home {
 font-size: xx-large;
}

p.body.home {
 font-size: x-large;
}

.body .image1 {
  box-shadow: -10px 10px #666;
  margin: auto;
  height: auto;
  width: 300px;
}

.body .image2 {
  box-shadow: -10px 10px #666;
  margin: auto;
  height: auto;
  width: 300px;
}

.body .image3 {
  box-shadow: -10px 10px #666;
  margin: auto;
  height: auto;
  width: 200px;
}

div.body p.aboutme, h2.aboutme {
  font-family: "Roboto", sans-serif;
  color: #e0e0e0;
  padding: 1% 5%;
}

div.body p, h1, h3 {
  position: relative;
  top: 50px;
  left: 20px;
  font-family: "Roboto", sans-serif;
  color: #e0e0e0;
}

div.body.aboutme {
  position: relative;
  display: grid;
  justify-content: center;
  top: 40px;
  padding: 10px;
  grid-template-columns: 30% 70%;
  grid-template-rows: 5% auto;
  grid-gap: 10px;
}

div.body h2.aboutme {
  position: relative;
  left: 17px;
}

.portrait.aboutme {
  height: 250px;
  width: auto;
  position: relative;
  margin: 18px;
  top: 2px;
  grid-row: 1 / 3;
  grid-column: 2;
}

div.body p.aboutme {
  
}

.body .workexperience {
  position: relative;
  top: 6%;
  font-family: "Roboto";
  //height: auto;
  //width: 850px;
  left: 30%;
  overflow: visible;
  margin: 2%;
}

.game-title {
 font-family: "Roboto", sans-serif;
 color: #ddd;
 display: flex;
 justify-content: center;
 margin: 30px auto;
}

canvas {
 background-color: #eee;
 display: block;
 margin: 0 auto;
}
